[package]
name = "sandbox"
version = "0.1.0"
edition = "2021"

[lib]
name = "lin_alg"
path = "src/lib.rs"

[dependencies]
ndarray = "0.15"
blas-src = { version = "0.8", features = ["accelerate"] }
rand = "0.8"

[dev-dependencies]
criterion = "0.5"

[[bench]]
name = "matmul"
harness = false
